@use "./variables" as vars;

/* ==== RESET START ==== */
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;

    font-size: inherit;
    font-weight: inherit;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#wpadminbar {
    position: absolute;
}
/* ==== RESET END ==== */


html {
    font-family: "Roboto", sans-serif;

    // With the default browser settings of 16px, the view is 10px,
    // which will improve the calculation in rem
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: vars.$color-primary;
    background-color: vars.$color-white;
}

.container {
    max-width: vars.$max-content-width;
    margin-inline: auto;

    @media (max-width: calc(vars.$max-content-width + vars.$side-margins-tablet * 2)) {
        margin-inline: vars.$side-margins-tablet;
    }

    @media (max-width: vars.$bp-to-mobile) {
        margin-inline: vars.$side-margins-mobile;
    }
}

.material-symbols {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 1;
    display: inline-block;
    user-select: none;

    font-variation-settings: 
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    
    &--filled {
        font-variation-settings: "FILL" 1;
    }
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 25px;
}

.breadcrumb {
    margin-top: 18px;
    margin-bottom: 30px;
    
    * { text-decoration: none; }
    
    ol {
        list-style: none;
        display: flex;
        gap: 10px;
        
        > li:first-child a {
            color: vars.$color-accent;
            
        }
    }
    
}

.button, .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 400;
    transition: background 0.2s ease;
    
    color: vars.$color-white;
    background: vars.$color-accent;

    &:hover {
        background: #0089ab;
        border-color: #0089ab;
    }

    @media (max-width: vars.$bp-to-mobile) {
        height: 30px;
        font-size: 1.4rem;
        border-radius: 3px;
    }

    &--alt {
        color: vars.$color-accent;
        background: vars.$color-white;
        border: solid vars.$color-accent 1px;

        &:hover {
            color: vars.$color-white;
            background: vars.$color-accent;
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}