@use "./variables" as vars;
@use "./mixins";

.footer__main {
    background-color: vars.$color-primary;
    color: vars.$color-white;
    font-size: 1.8rem;
    line-height: 2;

    ul {
        border-left: solid vars.$color-sub-text 1px;
        padding-left: 40px;

        .cat-item, .menu-item {
            display: flex;
            a {
                width: 100%;
            }
        }
    }

    a:hover {
        color: vars.$color-accent;
    }

    .material-symbols{
        display: flex;
        align-items: center;
        color: vars.$color-white;
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    padding-top: 140px;
    padding-bottom: 65px;

    @media (max-width: vars.$bp-to-tablet) {
        grid-template-columns: auto auto;
        padding-block: 40px;
        gap: 30px;

        .footer__page-nav {
            grid-column: 1;
            grid-row: 1;
        }

        .footer__catalog {
            grid-column: 1;
            grid-row: 2;
        }

        .footer__contact {
            grid-column: 2;
            grid-row: 1 / span 2;
        }
    }
}

.footer__logo {
    display: block;
    margin-bottom: 33px;

    img { height: 40px; }
}

.footer__logo-mobile-wrapper {
    display: none;
}

.footer__list-title {
    font-size: 3rem;
    margin-bottom: 33px;
    padding-left: 40px;
    line-height: 40px;

    .material-symbols {
        display: none;
    }
}

.footer__contact {
    &-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        padding-left: 40px;
        width: 430px;
        border-left: solid vars.$color-sub-text 1px;

        @media (max-width: vars.$bp-to-tablet) {
            display: block;
            width: 240px;
        }
    }

    a {
        text-decoration: underline;
    }

    &-item {
        width: 200px;        
    }

    &-title {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
        color: vars.$color-sub-text;
    }
}

.footer__copyright {
    align-content: center;
    height: 80px;
    background-color: vars.$color-black;
    color: vars.$color-sub-text;
}

@media (max-width: vars.$bp-to-mobile) {
    .footer__grid {
        display: block;
        padding-inline: 0;
        padding-block: 20px;
        font-size: 1.4rem;
    }

    .footer__logo-mobile-wrapper {
        display: flex;
        background-color: vars.$color-dark;
    }

    .footer__logo--mobile {
        margin-block: vars.$side-margins-mobile;
    }

    .footer__list-title {
        padding: 0;
        margin-bottom: 0px;
        line-height: 1;
        font-size: 1.8rem;
    }

    .footer__page-nav {
        display: none;
    }

    .footer__catalog {
        padding-bottom: 30px;
        border-bottom: 2px solid vars.$color-sub-text;

        &-title {
            @include mixins.button;
            justify-content: space-between;
        }

        .footer__categories {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            padding-left: 10px;
            margin-left: 20px;
        }

        .material-symbols {
            display: block;
            transition: transform  0.3s;
        }

        &.is-open {
            .footer__categories {
                max-height: 500px;
            }
            .material-symbols {
                transform: rotate(-180deg);
            }
        }
    }

    .footer__contact {
        margin-top: 30px;

        &-grid {
            border: none;
            padding: 0;
        }

        .footer__list-title {
            margin-bottom: 15px;
        }

        &-item {
            width: 100%;
        }

        &-text {
            display: block;
            margin-left: 34px;
        }

        &-icon {
            display: flex;
            justify-content: center;
            border-radius: 100%;
            background-color: vars.$color-accent;
            width: 28px;
            font-size: 20px;
        }
    }
}