@use "./variables" as vars;
@use "./mixins";

.homepage-top {
    margin-top: vars.$side-margins-tablet;

    @media (max-width: vars.$bp-to-mobile) {
        margin-top: vars.$side-margins-mobile;
    }
}

.popular-categories, .new-products {
    margin-top: 50px;
}

.popular-categories{
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        & > :nth-child(n+5) {
            display: none;
        }

        @media (max-width: vars.$bp-to-tablet) {
            gap: 25px;
        }

        @media (max-width: vars.$bp-to-mobile) {
            gap: 16px;
        }
    }

    &__show-more-link {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        color: #929292;

        a {
            display: grid;
            text-align: center;
            text-decoration: none;
        }

        @media (max-width: vars.$bp-to-tablet) {
            @include mixins.button;

            color: vars.$color-white;

            span {
                display: none;
            }

        }
    }

}