@use "./variables" as vars;
@use "./mixins";

.header {
    color: vars.$color-white;
    font-size: 1.6rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__logo img { height: 40px; }
}

.header__top {
    height: 35px;
    display: flex;
    font-size: 1.4rem;
    background-color: vars.$color-dark;
}

.header__middle {
    display: flex;
    background-color: vars.$color-primary;
    height: 70px;

    .container {
        gap: 50px;
    }
}

.header__bottom {
    display: flex;
    height: 60px;
    background-color: vars.$color-accent;
    box-shadow: 0px 4px 5px -4px grey;

    .container {
        gap: 40px;

        @media (max-width: vars.$bp-to-tablet) {
            gap: 0;
        }
    }

    .secondary-menu {
        gap: 40px;

        a {
            &:hover {
                color: vars.$color-primary;
            }
        }
    }
}

.header__menu {
    display: flex;
    gap: 100px;

    @media (max-width: vars.$bp-to-tablet) { display: none; }

    * {
        white-space: nowrap;
    }

    a {
        &:hover {
            color: vars.$color-accent;
        }
    }
}

.header__middle-right-nav {
    display: flex;
    gap: 40px;

    @media (max-width: vars.$bp-to-tablet) { display: none; }
    
    .login {
        color: vars.$color-accent;
    }
}

.header__catalog-btn {
    @include mixins.button;

    white-space: nowrap;
    justify-content: space-between;
    padding-inline: 20px;
    width: 300px;
    gap: 10px;
    background-color: #90c7d260;
    border-radius: 10px;
    
    &-title {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    @media (max-width: vars.$bp-to-tablet) {
        display: none;
    }

    &:hover {
        background-color: #B0D1D7CC;
    }
}

.header__catalog-wrapper {
    position: relative;
}

.header__catalog-nav {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 100;
    width: 300px;
    color: vars.$color-primary;

    &[open="true"] {
        display: block;
    }
}

.dropdown-catalog {
    background-color: vars.$color-white;
    border-radius: 10px;
    position: relative;
    padding-block: 15px;

    &:hover {
        box-shadow: 3px 3px 6px 0px #00000040;

    }

    &__item {
        padding-inline: 15px;
        
        &:hover {
            .dropdown-catalog__sublist {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 3px;
        justify-content: space-between;
        border: 1px solid transparent;
        transition: border 0.1s ease;


        &:hover {
            border: 1px solid vars.$color-accent;
        }
    }

    &__sublist {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 300px;
        height: 100%;
        background-color: vars.$color-white;
        border-radius: 10px;
        padding: 15px;
        transform: translateX(285px);
        transition: opacity 0.3s ease;
        box-shadow: 3px 3px 6px 0px #00000040;
        
        opacity: 0;
        pointer-events: none;

        &:hover {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .material-symbols {
        color: vars.$color-sub-text;
    }

}

.product-search {
    display: flex;
    width: 100%;
    margin: 0;
    border: solid vars.$color-search-border 1px;
    border-radius: 8px;
    overflow: hidden;

    input {
        width: 100%;
        height: 3rem;
        border: none;
        padding: 10px;

        &::placeholder {
            color: vars.$color-search-text;
            font-size: 1.4rem;
            font-weight: 400;
        }

        &:focus {
            border-color: vars.$color-accent;
            outline: none;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
        }
    }

    button {
        cursor: pointer;
        display: flex;
        text-decoration: none;
        width: 40px;
        padding: 0;
        background-color: vars.$color-white;
        
        border: none;

        span {
            margin: auto;
            color: vars.$color-accent;
        }
    }
}

.header__nav-buttons {
    display: flex;
    gap: 40px;

    button {
        display: flex;
        color: inherit;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    
    &--mobile {
        display: none;
    }

    @media (max-width: vars.$bp-to-tablet) {
        &--desktop {
            display: none;
        }

        &--mobile {
            display: flex;
        }
    }
}

.burger-menu-btn {
    position: relative;
    align-items: center;
    width: 20px;

    span {
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: vars.$color-white;
        transition: transform 0.5s, opacity 0.5s;

        &:nth-child(1) {
            transform: translateY(-8px);
        }

        &:nth-child(3) {
            transform: translateY(8px);
        }

    }

    &[active="true"] span {
        &:nth-child(1) {
            transform: translateY(0) rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
        }
    }

}
