@use "./variables" as vars;

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    height: 100dvh;
    width: 100dvw;
    background: #00000080;
    z-index: 100;
}

.mini-cart {
    &__main {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100dvh;
        overflow: auto;
        background: vars.$color-white;
        box-shadow: -4px 0 12px rgba(0,0,0,0.2);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 200;
    }

    &[open="true"] {
        .mini-cart__main {
            transform: translateX(0);
        }

        .overlay {
            display: block;
        }
    }
}

.mobile-menu {
    &__main {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100dvh;
        overflow: auto;
        background: vars.$color-white;
        box-shadow: -4px 0 12px rgba(0,0,0,0.2);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 200; 
    }
    
    &[open="true"] {
        & .mobile-menu__main {
            transform: translateX(0);
        }
        
        & .overlay {
            display: block;
        }
    }
}
