@use "./variables" as vars;

.grid-with-sidebar {
    display: grid;
    grid-template-columns: 300px calc(100% - 350px);
    gap: 40px;
    transition: grid-template-columns .35s ease;

    @media (max-width: vars.$bp-to-tablet) {
        display: block;

        .sidebar {
            display: none;
        }
    }
}

.sidebar {
    position: sticky;
    z-index: 10;
    top: 40px;
    height: fit-content;
    padding-bottom: 15px;
    
    transition: transform 0.35s ease, opacity 0.25s ease;
}

.grid-with-sidebar.sidebar-hidden {
    grid-template-columns: 0 100%;
    gap: 0px;
    
    .sidebar {
        transform: translateX(-350px);
        opacity: 0;
        pointer-events: none;
    }

    .popular-categories__grid {
        grid-template-columns: repeat(3, 1fr);

        & > :nth-child(n-5) {
            display: block;
        }
    }
}
