// colors
$color-primary: #303030;
$color-accent: #11A2BD;
$color-dark: #242222;
$color-red: #EE1C00;
$color-black: #000000;
$color-white: #ffffff;

$color-sub-text: #838383;

$color-search-border: #B5CCD1;
$color-search-text: #70868C;

$color-card-border: #0000003D;
$color-sidebar-border: #B5CCD1;


// Breakpoints
// only with max-width
$bp-to-mobile: 576px;
$bp-to-tablet: 1024px;


// Widths
$max-content-width: 1400px;

// Margins
$side-margins-tablet: 40px;
$side-margins-mobile: 16px;